{% extends 'basetemp.html' %}

			{% block titulo %}
			<title>Configuración de hiperparámetros</title>
			{% endblock %}

			{% block contenido %}
			<!-- start: Content -->
			<!-- start: Contenido -->
			<!-- start: Cuerpo -->
			<div id="content" class="span10">
			
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a>Cuenta</a> 
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="{% url 'Parametros' %}">Hiperparámetros</a></li>
			</ul>

			<!-- icono ayuda -->
			<div class="help">			
					<i class="icon-lightbulb"><a class="trigger_popup_fricc">Ayuda</a></i>
			</div>	

			<!-- ventana emergente de ayuda -->
			<div class="hover_bkgr_fricc">
    			<span class="helper"></span>
    			<div>
        			<div class="popupCloseButton">X</div>
        			<h4>Ayuda</h4>
        			<p align="justify">En esta sección es posible modificar los parámetros de entrenamiento de los modelos de predicción <b>Univariable</b> y <b>Multivariable</b> que se encuentran almacenados en el sistema. Los parámetros mas importantes a considerar son los siguientes: <br><br>
        			<i><b><u>Numero de épocas:</u></b></i> Define la cantidad total de veces que el algoritmo de aprendizaje debera ejecutarse con los datos que le son pasados como parámetros. Entre mas grande este valor, mayor tiempo de ejecución.<br>
        			<i><b><u>Tamaño por lotes(Batch-size):</u></b></i> Define el tamaño que deberan tener cada una de las muestras en las cuales fueron subdivididos los datos utilizados para entrenar la red. Un valor grande significaria un entrenamiento mas rápido pero ineficiente por parte de la red; un valor pequeño en cambio, se traduce en un procesamiento mas extenso pero preciso.<br>
        			<i><b><u>Dropout(evitar sobreajuste):</u></b></i> Método de regularización utilizado para evitar el sobre-entrenamiento de la red, que consiste en "apagar" o "ignorar" de forma aleatoria un porcentaje de las neuronas totales de la red, generando de esta manera perturbaciones durante el entrenamiento.<br>
        			<i><b><u>Taza de aprendizaje:</u></b></i> Es un cuantificador que indica la velocidad con la cual se modifican los pesos de conexión entre las neuronas. Un valor pequeño significaría que de una época a la siguiente, los cambios en los valores de los pesos serian ínfimos, provocando una lenta convergencia. Un valor muy alto podría provocar una convergencia mucho más rápido, pero acarreando un posible un sobre-entrenamiento de la red. <br>
        			<i><b><u>Función de activación:</u></b></i> La función de activación calcula el estado de actividad de una neurona; transformando la entrada global, en un estado (o valor) de activación, cuyo rango normal va de (0 a 1) o de (-1 a 1). El 0 o -1 indican que una neurona está totalmente inactiva, en tanto que el 1 indica total actividad.<br>
        			<i><b><u>Función de optimización:</u></b></i> Los algoritmos de optimización son los encargados de entrenar a la red, indicando que pesos de conexión entre las neuronas deben ser modificados, y la magnitud y dirección de dichas modificaciones.<br>
        			<i><b><u>Función de perdida:</u></b></i> Al trabajar con modelos predictivos, se debe ser capaz de calcular el error existente entre lo que la red predice con los valores verdaderos que se manejan. La función que utilizada para computar ese error es la llamada <b>función de pérdida</b>. Diferentes funciones de perdida pueden devolver diferentes errores de la misma predicción, y tienen efectos considerables en el rendimiento del modelo.<br>
        			<i><b><u>Configurar:</u></b></i> permite setear los parámetros de los modelos con los valores que fueron ingresados por el usuario.<br>
        			<i><b><u>Refrescar:</u></b></i> puede ser utilizado para recargar la página.<br>
        			<i><b><u>Reestablecer:</u></b></i> permite volver a cargar los modelos con los parámetros por defecto que son considerados los mas óptimos.<br><br>
        			</p>
  				</div>
			</div>

			<div class="row-fluid">
				<div class="box span12">
					<!-- Cabeza Formulario -->
					<div class="box-header" data-original-title>
						<h2><i class="halflings-icon white edit"></i><span class="break"></span>Hiperparámetros utilizados</h2>
					</div>
					<!-- Fin Cabeza Formulario -->

					<!-- Contenido Formulario -->
					<div class="box-content">
						<form class="form-horizontal formulario" method="POST" action="{% url 'saveparameters' %}">
						{% csrf_token %}
							<fieldset>

							<div class="control-group">
							<div class="row-fluid span6">
								<!-- label class="control-label" for="focusedInput">Tiempo final (TF)</label -->
								<div class="controls">{{ form.nombre }}</div>
								{{ form.epocas.label_tag }}
								<div class="controls">{{ form.epocas }}</div>
								{{ form.ventana.label_tag }}
								<div class="controls">{{ form.ventana }}</div>
								{{ form.dropout.label_tag }}
								<div class="controls">{{ form.dropout }}</div>
								{{ form.lrate.label_tag }}
								<div class="controls">{{ form.lrate }}</div>
							</div>
							<div class="row-fluid span6">
								<!-- label class="control-label" for="focusedInput">Constante forzada (F)</label -->
								{{ form.activar.label_tag }}
								<div class="controls">{{ form.activar }}</div>
								{{ form.perdidas.label_tag }}
								<div class="controls">{{ form.perdidas }}</div>
								{{ form.optimizar.label_tag }}
								<div class="controls">{{ form.optimizar }}</div>
							</div>
							</div>

							  <!-- Botones -->
							  <div class="form-actions">
								<!-- button type="button" class="btn btn-primary" id="btnEjecutar" onClick="alert('Los parámetros han sido configurados correctamente')">Configurar</button -->
								<button type="submit" class="btn btn-primary" id="btnEjecutar" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Ejecutando">Configurar</button>
								<button type="button" value="Refresh Page" class="btn" id="recargar" onClick="window.location.reload()">Refrescar</button>
								<button type="button" class="btn btn-info" id="reestablecer" style="float:right" onClick="alert('Los parámetros han sido reestablecidos correctamente')">Reestablecer</button>
							  </div>
							</fieldset>
						  </form>
					</div>
					<!-- Fin Contenido Formulario -->
				</div><!--/span-->
			</div>
		
		</div>


		{% endblock %}
	
		{% block js %}
	

		<script type="text/javascript">

			window.onload = function(){

			$(".trigger_popup_fricc").click(function(){
       			$('.hover_bkgr_fricc').show();
    		});
    		$('.hover_bkgr_fricc').click(function(){
        		$('.hover_bkgr_fricc').hide();
    		});
    		$('.popupCloseButton').click(function(){
        		$('.hover_bkgr_fricc').hide();
    		});

			$(document).ready(function(){


				$("#recargar").click(function(){
            		location.reload(true);
        		});

				//Habilitar textbox
				$('#epoch').prop('readonly', false);
				$('#window').prop('readonly', false);
				$('#drop').prop('readonly', false);
				$('#rate').prop('readonly', false);



				$('.formulario').submit(function(e){
				//Subleyenda
            	$('button').button({loadingText: 'Espere...'});
          		//save button so we can use later
          		var my_button = $(this).find("button");
          		//give button loading state
      	  		my_button.button('loading');

          		e.preventDefault();

          		$.ajax({
            		url: $(this).attr('action'),
            		type: $(this).attr('method'),
            		data: $(this).serialize(),

            		success: function(data) {
            			//Resetear estado del botton
            			my_button.button('reset');
              			$(".message").fadeIn(0);
              			$(".message").delay(5000).fadeOut('slow');
              			
         				console.log(data)
            		},
            		error: function(xhr, status, error){
            			var errormensaje = xhr.status + ": " + xhr.statusText
            			alert('Error: ' + errormensaje);
            		}       
          		})
        	})

	})
	}
  	</script>
	<!-- end: JavaScript-->
{% endblock %}