{% extends 'basetemp.html' %}

			{% block titulo %}
			<title>Lorenz'96 Una Escala</title>
			{% endblock %}

			{% block contenido %}
			<!-- start: Content -->
			<!-- start: Contenido -->
			<!-- start: Cuerpo -->
			<div id="content" class="span10">
			
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="{% url 'Principal' %}">Inicio</a> 
					<i class="icon-angle-right"></i>
					<a>Datos</a> 
					<i class="icon-angle-right"></i>
					<a>Generar</a> 
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="{% url 'Lorenz96' %}">Lorenz'96 I</a></li>
			</ul>
			<!-- icono ayuda -->
			<div class="help">			
					<i class="icon-lightbulb"><a class="trigger_popup_fricc">Ayuda</a></i>
			</div>

			<!-- ventana emergente de ayuda -->
			<div class="hover_bkgr_fricc">
    			<span class="helper"></span>
    			<div>
        			<div class="popupCloseButton">X</div>
        			<h4>Ayuda</h4>
        			<p align="justify">El modelo Lorenz'96 fue desarrollado por Edward Lorenz como un modelo matemático de laboratorio para estudiar cuestiones relacionadas con la dificultad de predicción del pronóstico meteorológico (simular el ambiente caótico de la atmósfera). Este modelo tiene la particularidad que solo utiliza en su forma estándar 40 variables las cuales tienen asociadas una serie temporal, representando esta el comportamiento de sistemas dinámicos caóticos. A efectos de investigación, este modelo es considerado como <b>"perfecto"</b>, es decir, no posee errores inherentes al modelado del sistema.</p><br>
        			<p align="justify">Parámetros a tener en cuenta a la hora de generar los datos:<br><br>
        			<i><b><u>Constante forzada (F):</u></b></i> fuerza externa, considerada como constante en tiempo y uniforme. Su valor determinara el tipo de solución (el ambiente caótico del modelo). Los valores recomendados son <b>entre 6 y 14.</b> Entre mas grande el valor, mas caótico sera el sistema generado.<br>
        			<i><b><u>Cantidad de variables (N):</u></b></i> cantidad de variables que el modelo debe generar. El estándar del modelo son 40 variables, pero se recomienda un mínimo de <b>8</b> y un máximo de <b>100</b> (entre mas grande el nro. de variables, el tiempo de procesamiento será mayor). Sin embargo, se debe resaltar que de todas las variables generadas, solo se mostrara por pantalla la primera de ellas (pero se almacenaran todas). El nro. de variables también influye en la caoticidad del sistema.<br>
        			<i><b><u>Observaciones a dibujar:</u></b></i> cantidad de puntos asociados a una variable que se desean plotear en la gráfica. Este número siempre debe ser menor que el <b>total de observaciones a generar</b>, y se recomiendan valores entre los <b>100</b> y <b>1000</b> puntos para que el comportamiento del modelo sea distinguible en la gráfica.<br>
        			<i><b><u>Total de observaciones a generar:</u></b></i> número total de puntos (datos) que se desean generar por cada una de las variables especificadas. Se recomiendan un mínimo de <b>2000</b> puntos para que el modelo pueda funcionar correctamente. Entre mas grande sea el número de datos a generar, mayor sera el tiempo de procesamiento. Este valor debe ser siempre mayor que las <b>observaciones a dibujar</b>. (En caso de generar 2000 puntos y dibujar 200, solo se plotearan los primeros 200 valores, pero se almacenaran los 2000).<br>
        			<i><b><u>Guardar datos:</u></b></i> los datos generados pueden ser almacenados en distintos datasets para ser utilizados posteriormente para el entrenamiento y validación de una RNN.<br><br>
        			En la <i><b>Tabla de resultados</b></i>, se mostraran los valores obtenidos <b>(observaciones)</b> junto con el <b>tiempo</b> en el cual se produjeron.
        			</p>
  				</div>
			</div>
			
			<!-- start: Formulario -->
			<div class="row-fluid sortable">
				<div class="box span6">
					<!-- Cabeza Formulario -->
					<div class="box-header" data-original-title>
						<h2><i class="halflings-icon white edit"></i><span class="break"></span>Lorenz'96 una escala</h2>
						<div class="box-icon">
							<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
						</div>
					</div>
					<!-- Fin Cabeza Formulario -->

					<!-- Contenido Formulario -->
					<div class="box-content">
						<form class="form-horizontal formulario" method="POST" action="{% url 'lorenz1' %}">
						{% csrf_token %}
							<fieldset>
							  <div class="control-group">
								<!-- label class="control-label" for="focusedInput">Tiempo final (TF)</label -->
								{{ form.forzado.label_tag }}
								<div class="controls">
								  <!-- input class="input-xlarge focused" id="focusedInput" type="text" value="" -->
								  {{ form.forzado }}
								</div>
							  </div>
							  <div class="control-group">
								<!-- label class="control-label" for="focusedInput">Constante forzada (F)</label -->
								{{ form.x_small_scale.label_tag }}
								<div class="controls">
								  <!-- input class="input-xlarge focused" id="focusedInput" type="text" value="" -->
								  {{ form.x_small_scale }}
								</div>
							  </div>
							  <div class="control-group">
								<!-- label class="control-label" for="focusedInput">Paso de tiempo (Dt)</label -->
								{{ form.observaciones.label_tag }}
								<div class="controls">
								  <!-- input class="input-xlarge focused" id="focusedInput" type="text" value="" -->
								  {{ form.observaciones }}
								</div>
							  </div>
							  <div class="control-group">
								<!-- label class="control-label" for="focusedInput">Tiempo total (T)</label -->
								{{ form.desechar.label_tag }}
								<div class="controls">
								  <!-- input class="input-xlarge focused" id="focusedInput" type="text" value="" -->
								  {{ form.desechar }}
								</div>
							  </div>
							    <div class="control-group">
								<!-- label class="control-label" for="focusedInput">Tiempo total (T)</label -->
								{{ form.guardar.label_tag }}
								<div class="controls">
								  <!-- input class="input-xlarge focused" id="focusedInput" type="text" value="" -->
								  {{ form.guardar }}
								</div>
							  </div>
							 
							  <!-- Botones -->
							  <div class="form-actions">
								<button type="submit" class="btn btn-primary" id="btnEjecutar" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Ejecutando">Ejecutar</button>
								<button type="button" value="Refresh Page" class="btn" onClick="window.location.reload()">Refrescar</button>
							  </div>
							</fieldset>
						  </form>
					</div>
					<!-- Fin Contenido Formulario -->
				</div><!--/span-->

				<!-- start: Formulario -->
			<div class="row-fluid sortable">
				<div class="row-fluid sortable">	
				<div class="box span6">
					<div class="box-header">
						<h2><i class="halflings-icon white align-justify"></i><span class="break"></span>Tabla de resultados</h2>
						<div class="box-icon">
							<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
						</div>
					</div>
					<div class="box-content">
						<div id="TablaLorenz">
              				<table id="TableL" class ="display nowrap">
              					<thead>
              						<tr>
              							<th>Tiempo</th><th>Observación</th>
              						</tr>
              					</thead>
              					<tbody>           						
              					</tbody>
              				</table>          
						</div> 
					</div>
				</div><!--/span-->
			    </div><!--/row-->
			<!-- end: Formulario -->

			<div class="row-fluid">
				<div class="box">
					<div class="box-header">
						<h2><i class="halflings-icon white list-alt"></i><span class="break"></span>Gráfica</h2>
						<div class="box-icon">
							<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>

						</div>
					</div>
					<!--grafica-->
					<div class="box-content">
						<!-- div id="sincos"  class="center" style="height:300px;" ></div-->
						<div id="graph" class="center" style="height:300px;" ></div>
						<p id="hoverdata">Puntos (<span id="x">0</span>, <span id="y">0</span>)</p>
					</div>
				</div>
			</div><!--/row-->

	       </div><!--/.fluid-container-->
	
			<!-- end: Content -->
		</div><!--/#content.span10-->
	</div>

		{% endblock %}
	
		{% block js %}

		<script type="text/javascript">	

      	window.onload = function(){

      	 $(".trigger_popup_fricc").click(function(){
       		$('.hover_bkgr_fricc').show();
    	});
    	$('.hover_bkgr_fricc').click(function(){
        	$('.hover_bkgr_fricc').hide();
    	});
    	$('.popupCloseButton').click(function(){
        	$('.hover_bkgr_fricc').hide();
    	});

      	//Creacion de la tabla para mostrar los datos
      	$(document).ready(function() {
      		$('#TableL').dataTable({
    			"language": {
    			  		"emptyTable":  "  ",
    			  		"infoEmpty" : "Tabla de valores utilizados en el gráfico"
  				  	},
  				"searching": false,
  				"scrollY": 391,
                "paging": false
    		});
        });		
      
      	//Accion tras pulsar boton formulario
        $('.formulario').submit(function(e){

          //Subleyenda
          $('button').button({loadingText: 'Espere...'});
          //save button so we can use later
          var my_button = $(this).find("button");
          //give button loading state
      	  my_button.button('loading');

          e.preventDefault();
     
          $.ajax({
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            data: $(this).serialize(),
            success: function(data) {
              //console.log(data)

              //Resetear estado del botton
              my_button.button('reset');
              $(".message").fadeIn(0);
              $(".message").delay(5000).fadeOut('slow');

              //Esconderlo
              $('#btnEjecutar').hide()  

              var options = {
              	series: {
              		lines: {show: true },
              		points: {show: false}
              	},
              	grid: {
              		hoverable: {show: true}
              	},
              };	

              //Grafico
              var plot = $.plot($("#graph"), [{label:"X", data:data}], options)

              //Cargando tabla
              $.each(data, function (index, value) {
                  var TableRow = "<tr>";
                  $.each(value, function (key, val) {
                      TableRow += "<td>" + val + "</td>";
                  });
                  TableRow += "</tr>";
                 $('#TableL').append(TableRow);
              });

            }       
          })
        })

		$("#graph").bind("plothover", function (event, pos, item) {
    		$("#x").text(pos.x.toFixed(2));
			$("#y").text(pos.y.toFixed(2));
		});        

      }
  	</script>

  	{% endblock %}