{% extends 'basetemp.html' %}

			{% block titulo %}
			<title>Predicción Multivariable</title>
			{% endblock %}

			{% block contenido %}
			<!-- start: Content -->
			<!-- start: Contenido -->
			<!-- start: Cuerpo -->
			<div id="content" class="span10">
			
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="{% url 'Principal' %}">Inicio</a> 
					<i class="icon-angle-right"></i>
					<a>Aprendizaje</a> 
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="{% url 'MultivarLSTM' %}">Lorenz'63</a></li>
			</ul>

			<!-- icono ayuda -->
			<div class="help">			
					<i class="icon-lightbulb"><a class="trigger_popup_fricc">Ayuda</a></i>
			</div>

			<!-- ventana emergente de ayuda -->
			<div class="hover_bkgr_fricc">
    			<span class="helper"></span>
    			<div>
        			<div class="popupCloseButton">X</div>
        			<h4>Ayuda</h4>
        			<p align="justify">En esta sección los usuarios pueden iniciar el <b>entrenamiento</b> y la posterior <b>predicción</b> de una RNN con los datos que fueron generados previamente con el modelo <b>Lorenz'63</b>. A continuación se detallan los pasos a seguir: <br><br>
        			<i><b>A)</b></i> Del listado de datasets almacenados en el sistema, seleccionar (Con el boton <b>graficar</b>) aquel que sera utilizados para el entrenamiento de la red.<br><br>
        			<i><b>B)</b></i> Una vez seleccionado el dataset, este será graficado en su sección correspondiente. A su vez se habilitara el botón <b>Entrenar</b> que debe ser pulsado para iniciar el entrenamiento de la red. El botón <b>Refrescar</b> puede ser utilizado para recargar la página.<br><br>
        			<i><b>C)</b></i> Una vez iniciado el entrenamiento, se ocultara el listado de datasets. El tiempo hasta que el mismo finalize depende de la cantidad de datos almacenados en el dataset seleccionado (mayor cantidad de datos, mayor tiempo de procesamiento por parte de la red).<br><br>
        			<i><b>D)</b></i> Al finalizar el entrenamiento, se informara por pantalla la reducción de la <b>función de costo</b>, lo que puede ser entendido como el grado de mejora (comparando la perdida durante la primera ejecución con respecto a la ultima) que tuvo la red al tratar de predecir los valores durante el entrenamiento. Una reducción igual o superior al 20% es considerada como aceptable.<br><br>
        			<i><b>E)</b></i> Dependiendo del resultado de la <b>función de costo</b> y el grado de mejora alcanzado, se puede optar con seguir adelante con el experimento y llevar a cabo la <b>predicción</b> de los datos (utilizando el botón  <b>predecir</b>) o refrescar la pagina e iniciar un nuevo experimento. <br><br>
        			<i><b>F)</b></i> En caso de llevar a cabo la predicción de los datos, los resultados serán graficados en su sección correspondiente.
        			</p>
  				</div>
			</div>
			
			<!-- start: Formulario -->
			<div class="row-fluid sortable">
			{% csrf_token %}
				<div class="row-fluid sortable" id="listado">	
				<div class="box">
					<div class="box-header">
						<h2><i class="halflings-icon white align-justify"></i><span class="break"></span>Seleccione un dataset Lorenz'63 para comenzar el entrenamiento</h2>
						<div class="box-icon">
							<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
						</div>
					</div>
					<div class="box-content">
						<div id="Tablas">
              				<table id="TableL" class="table table-striped table-bordered display compact" cellspacing="0" width="100%">
              					<thead>
              						<tr>
              							<th>Nombre</th>         							
              							<th>Longitud Tot.</th>
              							<th>Pts. a graficar</th>
              							<th>Fecha</th>
              							<th>Beta</th>
              							<th>Sigma</th>
              							<th>Rho</th>
              							<th>Acción</th>
              						</tr>
              					</thead>
              					<tbody>
              						{% for value in list_l63.items %}
              						<tr>
                                        <td class="nombre">{{ value.1.nombre }}</td>
                                        <td class="longitud">{{ value.1.longitud }}</td>
                                        <td class="obs">{{ value.1.obs }}</td>
                                        <td class="fecha">{{ value.1.fecha }}</td>
                                        <td class="beta">{{ value.1.beta }}</td>
                                        <td class="sigma">{{ value.1.sigma }}</td>
                                        <td class="rho">{{ value.1.rho }}</td>
                                        <td>
                                            <div class='btn-group' id="btns-action" data-filename="{{ value.0 }}">
                                              <button data-url="{% url 'graph_l63_dataset' %}" class="btn btn-primary" id="btnGraficar" type="submit" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Graficando">Graficar</button>
                                            </div>
                                        </td>
                                    </tr>
              						{% endfor %}           						
              					</tbody>
              				</table>          
						</div> 
					</div>
				</div><!--/span-->
			    </div><!--/row-->
			<!-- end: Formulario -->
			<div class="row-fluid sortable" id="grafica2">
				<div class="box">
					<div class="box-header">
						<h2><i class="halflings-icon white list-alt"></i><span class="break"></span>Gráfica</h2>
						<div class="box-icon">
							<form class="form-horizontal formulario" method="POST" action="{% url 'lorenz63pred' %}">
							{% csrf_token %}
							<fieldset>
								<div class="controls">{{ form.nombre }}</div>
								<div class="controls">{{ form.epocas }}</div>
								<div class="controls">{{ form.ventana }}</div>
								<div class="controls">{{ form.dropout }}</div>
								<div class="controls">{{ form.lrate }}</div>
								<div class="controls">{{ form.activar }}</div>
								<div class="controls">{{ form.perdidas }}</div>
								<div class="controls">{{ form.optimizar }}</div>
							  <!-- Botones -->
								<button type="submit" class="btn btn-info" id="btnEjecutar" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Ejecutando">Entrenar</button>
								<button type="button" value="Refresh Page" class="btn" id="recargar" onClick="window.location.reload()">Refrescar</button>
							</fieldset>
						  </form>
						</div>
					</div>
					<!--grafica-->
					<div class="box-content">
						<!-- div id="sincos"  class="center" style="height:300px;" ></div-->
						<div id="graph" class="center" style="height:200px"></div>
					</div>
				</div>
			</div><!--/row-->

			<div class="row-fluid sortable" id="training">
				<div class="box">
					<div class="box-header">
						<h2><i class="halflings-icon white list-alt"></i><span class="break"></span>Reducción de la función de costo</h2>
					</div>
					<div class="box-content">
						Costo inicial: <input type="text" id="ini" value="" />
					  	Costo final: <input type="text" id="fin" value="" />
					   	Reduccion (%): <input type="text" id="red" value="" />
					   	<button type="submit" class="btn btn-info" id="btnPred" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Ejecutando">Predecir</button>
					</div>
				</div>
			</div>
			
			</div>

			<!-- start: Formulario -->
			<div class="row-fluid sortable" id="graficos">
			{% csrf_token %}
			<div class="row-fluid">
				<div class="box">
					<div class="box-header">
						<h2><i class="halflings-icon white list-alt"></i><span class="break"></span>Entrenamiento con la RNN</h2>
						<div class="box-icon">
							<button type="button" value="Refresh Page" class="btn" id="recargar2" onClick="window.location.reload()">Refrescar</button>
						</div>
					</div>
					
					<!--grafica-->
					<div class="box-content">
						<!-- div id="sincos"  class="center" style="height:300px;" ></div-->
						<div id="graph2" class="center" style="height:200px;" ></div>
					</div>
					<!--grafica-->
					<div class="box-content">
						<!-- div id="sincos"  class="center" style="height:300px;" ></div-->
						<div id="graph3" class="center" style="height:200px;" ></div>
					</div>
					<!--grafica-->
					<div class="box-content">
						<!-- div id="sincos"  class="center" style="height:300px;" ></div-->
						<div id="graph4" class="center" style="height:200px;" ></div>
					</div>
				</div>
			</div><!--/row-->
			</div>
		</div>


		{% endblock %}
	
		{% block js %}
	

		<script type="text/javascript">			

			window.onload = function(){

			$(".trigger_popup_fricc").click(function(){
       			$('.hover_bkgr_fricc').show();
    		});
    		$('.hover_bkgr_fricc').click(function(){
        		$('.hover_bkgr_fricc').hide();
    		});
    		$('.popupCloseButton').click(function(){
        		$('.hover_bkgr_fricc').hide();
    		});	

			$(document).ready(function() {

				//Esconder entrenamiento
 				$('#training').hide();
 				$('#graficos').hide();

    			$('#TableL').dataTable({
    
  					"searching": false,
  					"scrollY": 250,
                	"paging": false,
                	"info": false
    			});

				$("#recargar").click(function(){
            		location.reload(true);
        		});

        		$("#recargar2").click(function(){
            		location.reload(true);
        		});

 				$("#btnPred").click(function(){
 					setTimeout(function(){
						$('#graficos').show();},3000)
      
        		});

				$('#btnEjecutar').prop('disabled',true);

				$('#TableL tbody').on('click', '#btnGraficar', function(){
				
					$('#btnEjecutar').prop('disabled',false);

					var direccion = $(this).data('url')
					var filename = $(this).parents('div').data('filename')
					var token = '{{ csrf_token }}'

					//Cargar el nombre del dataset en el textbox
					$("#name").val(filename)

					$.ajax({
						headers: { "X-CSRFToken": token },
						url: direccion,
						type: 'POST',
						data: {'filename' : filename}}).done(function(data){
							//console.log(data)

							//Grafica
							var options = {
								series: {
									lines: {show: true },
									points: {show: false}
								},
              					grid: {
              						hoverable: {show: true}
              					},
              				};	
              				//Graficar la funcion con los datos pasados
              				var plot = $.plot($("#graph"), [{label:"X Obs.", data:data[0]}, {label:"Y Obs.", data:data[1]}, {label:"Z Obs.", data:data[2]}],options)
              
						})

			});


			$('.formulario').submit(function(e){
				
				//Subleyenda
            	$('button').button({loadingText: 'Espere...'});
          		//save button so we can use later
          		var my_button = $(this).find("button");
          		//give button loading state
      	  		my_button.button('loading');


      	 		$('#btnEjecutar').prop('disabled', true);

      	 		//Esconder listado
 				$('#listado').hide();

          		e.preventDefault();
     	 
          		$.ajax({
            		url: $(this).attr('action'),
            		type: $(this).attr('method'),
            		data: $(this).serialize(),

            		success: function(data) {

						//Mostrar entrenamiento
 						$('#training').show();
 						$('#graficos').show();

						$("#ini").val(data[6]);
						$("#fin").val(data[7]);
						$("#red").val(data[8]);

            			//Resetear estado del botton
            			my_button.button('reset');
              			$(".message").fadeIn(0);
              			$(".message").delay(5000).fadeOut('slow');
              			//Esconderlo
              			$('#btnEjecutar').hide()  
              			//Opciones de ploteado
              			var options = {
              				series: {
              					lines: {show: true },
              					points: {show: false}
              				},
              				grid: {
              					hoverable: {show: true}
              				},
              			};	
              			var plot = $.plot($("#graph2"), [{label:"Predicho X", data:data[0]}, {label:"Verdadero X", data:data[1]}],options)
              			var plot = $.plot($("#graph3"), [{label:"Predicho Y", data:data[2]}, {label:"Verdadero Y", data:data[3]}],options)
              			var plot = $.plot($("#graph4"), [{label:"Predicho Z", data:data[4]}, {label:"Verdadero Z", data:data[5]}],options)

              			$('#graficos').hide();
              			$('#grafica2').hide();
            		},

            		error: function(xhr, status, error){
            			var errormensaje = xhr.status + ": " + xhr.statusText
            			alert('Error: ' + errormensaje);

            		}       
          		})
        	})
	})
	}
  	</script>
	<!-- end: JavaScript-->
{% endblock %}