{% extends 'basetemp.html' %}

			{% block titulo %}
			<title>Datasets L'63</title>
			{% endblock %}

			{% block contenido %}
			<!-- start: Content -->
			<!-- start: Contenido -->
			<!-- start: Cuerpo -->
			<div id="content" class="span10">
			
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="{% url 'Principal' %}">Principal</a> 
					<i class="icon-angle-right"></i>
					<a>Datos</a> 
					<i class="icon-angle-right"></i>
					<a>Visualizar</a> 
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="{% url 'Tablas63' %}">Lorenz'63</a></li>
			</ul>

			<!-- icono ayuda -->
			<div class="help">			
					<i class="icon-lightbulb"><a class="trigger_popup_fricc">Ayuda</a></i>
			</div>	

			<!-- ventana emergente de ayuda -->
			<div class="hover_bkgr_fricc">
    			<span class="helper"></span>
    			<div>
        			<div class="popupCloseButton">X</div>
        			<h4>Ayuda</h4>
        			<p align="justify">En esta sección es posible observar los dataset del modelo <b>Lorenz'63</b> que fueron creados y almacenados por los distintos usuarios que han usado el sistema.<br><br>
        			En el listado figuran todos los dataset guardados junto con una serie de metadatos que denotan los <b>parámetros</b> con los cuales fueron generadas cada una de las series correspondientes: <br><br>
        			<i><b><u>Nombre:</u></b></i> Nombre del dataset. <br>
        			<i><b><u>Longitud Tot.:</u></b></i> Longitud total del dataset (total de puntos generados). <br>
        			<i><b><u>Pts. a graficar:</u></b></i> Puntos a graficar (constituyen una porción del total de puntos que fueron generados). <br>
        			<i><b><u>Fecha:</u></b></i> Momento en el cual fue creado y almacenado el dataset. <br>
        			<i><b><u>Beta:</u></b></i> Valor correspondiente a la constante <b>Beta</b> con la que se generó la serie. <br>
        			<i><b><u>Sigma:</u></b></i> Valor correspondiente a la constante <b>Sigma</b> con la que se generó la serie. <br>
        			<i><b><u>Rho:</u></b></i> Valor correspondiente a la constante <b>Rho</b> con la que se generó la serie. <br>
        			<i><b><u>Acción:</u></b></i> El botón <b>graficar</b> permite plotear los datos asociados al dataset seleccionado para poder visualizarlos en su sección correspondiente.
        			</p>
  				</div>
			</div>
			
				<!-- start: Formulario -->
			<div class="row-fluid sortable">
			{% csrf_token %}
				<div class="row-fluid sortable">	
				<div class="box">
					<div class="box-header">
						<h2><i class="halflings-icon white align-justify"></i><span class="break"></span>Lorenz'63 datasets almacenados en el sistema</h2>
						<div class="box-icon">
							<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
						</div>
					</div>
					<div class="box-content">
						<div id="Tablas">
              				<table id="TableL" class="table table-striped table-bordered display compact" cellspacing="0" width="100%">
              					<thead>
              						<tr>
              							<th>Nombre</th>         							
              							<th>Longitud Tot.</th>
              							<th>Pts. a graficar</th>
              							<th>Fecha</th>
              							<th>Beta</th>
              							<th>Sigma</th>
              							<th>Rho</th>
              							<th>Acción</th>
              						</tr>
              					</thead>
              					<tbody>
              						{% for value in list_l63.items %}
              						<tr>
                                        <td class="nombre">{{ value.1.nombre }}</td>
                                        <td class="longitud">{{ value.1.longitud }}</td>
                                        <td class="obs">{{ value.1.obs }}</td>
                                        <td class="fecha">{{ value.1.fecha }}</td>
                                        <td class="beta">{{ value.1.beta }}</td>
                                        <td class="sigma">{{ value.1.sigma }}</td>
                                        <td class="rho">{{ value.1.rho }}</td>
                                        <td>
                                            <div class='btn-group' id="btns-action" data-filename="{{ value.0 }}">
                                              <button data-url="{% url 'graph_l63_dataset' %}" class="btn btn-primary" id="btnEjecutar" type="submit" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Graficando">Graficar</button>
                                            </div>
                                        </td>
                                    </tr>
              						{% endfor %}           						
              					</tbody>
              				</table>          
						</div> 
					</div>
				</div><!--/span-->
			    </div><!--/row-->
			<!-- end: Formulario -->

			<div class="row-fluid">
				<div class="box">
					<div class="box-header">
						<h2><i class="halflings-icon white list-alt"></i><span class="break"></span>Gráfica</h2>
						<div class="box-icon">
							<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
						</div>
					</div>
					<!--grafica-->
					<div class="box-content">
						<!-- div id="sincos"  class="center" style="height:300px;" ></div-->
						<div id="graph" class="center" style="height:300px;" ></div>
						<p id="hoverdata">Puntos (<span id="x">0</span>, <span id="y">0</span>)</p>
					</div>
				</div>
			</div><!--/row-->

	       </div><!--/.fluid-container-->
		</div><!--/#content.span10-->

		{% endblock %}
	
		{% block js %}

		<script type="text/javascript">	

			window.onload = function(){

      	$(".trigger_popup_fricc").click(function(){
       	$('.hover_bkgr_fricc').show();
    	});
    	$('.hover_bkgr_fricc').click(function(){
        	$('.hover_bkgr_fricc').hide();
    	});
    	$('.popupCloseButton').click(function(){
        	$('.hover_bkgr_fricc').hide();
    	});


			$(document).ready(function() {

    			$('#TableL').dataTable({
    
  					"searching": false,
  					"scrollY": 250,
                	"paging": false,
                	"info": false
    			});

				$('#TableL tbody').on('click', '#btnEjecutar', function(){
				
					var direccion = $(this).data('url')
					var filename = $(this).parents('div').data('filename')
					var token = '{{ csrf_token }}'

					$.ajax({
						headers: { "X-CSRFToken": token },
						url: direccion,
						type: 'POST',
						data: {'filename' : filename}}).done(function(data){
							//console.log(data)

							//Opciones para el ploteado
              				var options = {
              					series: {
              						lines: {show: true },
              						points: {show: false}
              					},
              					grid: {
              						hoverable: {show: true}
              					}
              				};
              				//Graficar la funcion con los datos pasados
              				var plot = $.plot($("#graph"), [{label:"X Obs.", data:data[0]}, {label:"Y Obs.", data:data[1]}, {label:"Z Obs.", data:data[2]}],options)
              			})
						
				$("#graph").bind("plothover", function (event, pos, item) {
    			$("#x").text(pos.x.toFixed(2));
				$("#y").text(pos.y.toFixed(2)); });        

			})
		})
		}
  		</script>

		{% endblock %}